/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

    /*----------- BODY --------------*/
    /*----------- HEADER --------------*/
    /*----------- NAVIGATION --------------*/
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    nav ul li {
        float: left;
        width: 25%;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,.3);
    }

    /*----------- MAIN --------------*/
    /*----------- FOOTER --------------*/
}
/* end of media query */