/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* {-webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
    font-size: 16px;  /* browser default */
    font-family: 'Titillium Web', Verdana, sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
    border-top-left-radius: .75em;
    border-top-right-radius: .75em;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}
header figure.logo {float: left; margin: 0 2% 0 0;}
header figure.logo img {border-radius: .3em;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #ccc;
    font-family: 'Titillium Web', sans-serif;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    transform: scale(1.25);
    font-size: 1.6rem;
    color: #555;
    transition: 1s;
}

@keyframes navULshow {
    from {opacity: 0; height: 0; width: 0}
    to {opacity: 1; height: 100%; width: 100%}
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    animation-name: navULshow;
    animation-duration: 1s;
}
/* nav ul li {
    float: left;
    width: 25%;
} */
nav ul li a {
    display: block;  /* to make the full width clickable */
    background-color: #8f8e8ecc;/*#6f6f6f;*/
    color: #000;
    border-left: 1px solid #777;
    border-top: 1px solid rgba(0,0,0,.3);
    padding: .8rem 2%;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
    color: #333;
}
nav ul li.active a {                 /* if this were above hover then hover would override this style */
    background-color: rgba(0,0,0,.3);
    color: #fff;
    box-shadow: 0 0 16px 0 #5a5a5a inset;
}

nav ul.hide {
    display: none;
}
nav button.hide {
    box-shadow: 0 0 8px 1px #6f6f6f inset;
    color: white;
}

/*----------- hamburger menu icon --------------*/
.hamb {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    border-radius: 2px;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}


/*----------- MAIN --------------*/
main {
    padding: 1rem 2%;
    min-height: 10rem;
/*    margin-left: 2%;*/
}
main figure.myphoto {width: 50%; margin: 0 0 0 2%; float: right;}
main figure.myphoto img {width: 100%; border-radius: 6%/90%;}
main figure.myphoto figcaption {text-align: center; font-size: .75rem; margin-bottom: 2px;}


/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 8px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}
form label.side {
    display: inline-block;
    padding-top: 1.8rem;
    color: #9c2c13;
    font-size: .8rem;
    width: 450px;
    text-align: right;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .7rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}
form label.side input, form label.side select {
    -webkit-appearance: none;
    display: inline;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    /*margin-top: 1.8rem;*/
    margin-left: 5px;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}
form label.sbs {
    display: block;
    padding: .7rem 0;
    color: #555;
}
form input.submitButton {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 2rem;
    padding: .7rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required, form label.side input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid, form label.side input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
    border-bottom-left-radius: .75em;
    border-bottom-right-radius: .75em;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
